.rotateimg {
    transform: rotate(90deg);
    float: left;
    padding-left: 5px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
    }

    body {
        background-color: beige;
        margin: auto;
        background-image: url("../images/doodles.png");
    }

    .center-div
{
     margin: 0 auto;
     width: 900px;
     background-color: beige;
}

.centerh1 {
    text-align: center;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        color: white;
        text-align: center;
    }